button{
    background-color: #4CAF50; /* Green background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 15px 32px; /* Some padding */
            text-align: center; /* Centered text */
            text-decoration: none; /* Remove underline */
            display: inline-block; /* Make the button inline */
            font-size: 16px; /* Increase font size */
            margin: 4px 2px; /* Some margin */
            cursor: pointer; /* Pointer/hand icon */
            border-radius: 8px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
            transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}
button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}
a{
    text-decoration: none;
    color: white;
}
